* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
}
h1 {
  text-align: center;
  margin: 12px;
  font-size: 5rem;
}

#span-1 {
  color: #f94144;
}

#span-2 {
  color: #f3722c;
}
#span-3 {
  color: #f8961e;
}

#span-4 {
  color: #f9844a;
}

#span-5 {
  color: #f9c74f;
}

#span-6 {
  color: #90be6d;
}

#span-7 {
  color: #43aa8b;
}

#span-8 {
  color: #4d908e;
}

#span-9 {
  color: #277da1;
}

.interactive-container {
  text-align: center;
  position: relative;
  margin: 24px;
  padding: 12px;
}

#input-field {
  padding: 10px 10px;
  width: 60vh;
  text-align: center;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #f9dcc4;
  color: black;
}

#add-todo {
  position: absolute;
  top: 60px;
  padding: 12px 10px;
  margin: 12px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #3ec1d3;
  left: 46vw;
}

.list {
  display: flex;
  justify-content: center;
  margin-right: 15vw;
  padding: 30px;
}

li {
  background-color: #ff165d;
  color: white;
  margin: 24px;
  padding: 12px 24px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  list-style-type: none;
}

button {
  position: absolute;
  left: 20vw;
  outline: none;
  padding: 8px 12px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #ff9a00;
  color: white;
}
