<div class="container">
    <h1 class="display-4">Name: {{name}}</h1>
    <h2 class="lead">Email: {{email}}</h2>
    <div>

        <form action="/logout" method="POST">
            <button type="submit" class="btn btn-primary">Log Out</button>
        </form>
    </div>
</div>