
<div class="container">
    <h1 class="text-center display-5">SignUp</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <form action="/signUp" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>

            <div class="mb-3">
                <label for="emailId" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="emailId">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <a href="/">Already have an account? Click Here to Login</a>
    </div>
    
</div>
