
<div class="container">
    <h1 class="text-center display-5">Sign Up</h1>
    <div class="d-flex justify-content-center align-items-center">
        <form action="/profile" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" value="John Doe" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="emailId" class="form-label">Email address</label>
                <input type="email" name="email" value="johnDoe@jasper.info" class="form-control" id="emailId">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" value="123abc" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="avatar" class="form-label">Avatar Image</label>
                <input type="file" name="avatar" class="form-control" id="avatar">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
